@layer components {
  .title {
    @apply font-title leading-none font-semibold;
  }

  .subtitle {
    @apply text-xamber-200 font-semibold text-fluid-lg;
    display: inline-grid;
    grid-template-columns: minmax(32px, 72px) auto;
    gap: 32px;
    text-transform: uppercase;
    align-items: center;

    &::before {
      content: '';
      height: 2px;
      background-color: currentColor;
      transform: translateY(-100%);
    }
  }
}
